.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  position: relative;
  z-index: 0;
}

.Buttons {
  position: absolute;
  top: 0;
  right: -2px;
  width: 80px;
  height: 40px;
  border-radius: 100px;
  background-image: linear-gradient(
    270deg,
    transparent 0%,
    transparent 56%,
    #e6e56c 56%
  );
  background-size: 120%;
  transition: all 0.2s;
  z-index: -1;
}
.Less,
.More {
  height: 40px;
  width: 40px;
  margin: 0 -2px;
  z-index: 1;
  background-color: transparent;
  border: none;
}

/* .Less:hover {
  transform: translateX(5px);
} */

.Less:hover ~ .Buttons {
  background-position: 40px;
  transform: translateX(0.5rem);
}

.Less:hover {
  color: black;
}

.Less:hover ~ button {
  color: white;
}

.Label {
  padding: 10px;
  padding-right: 20px;
  font-weight: bold;
  width: 120px;
  margin: 0 30px;
  text-align: right;
}
