.NavigationItem {
  margin: 0;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #eb7070;
  text-decoration: none;
  padding: 20px 0;
  padding-left: 30px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a::after {
  content: "";
  display: none;
}

.NavigationItem a:active {
  background-color: #fff;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 15px;
    transition: all 0.2s ease-out;
  }

  .NavigationItem a {
    height: 100%;
    padding: 10px 16px;
    color: white;
    align-self: center;
  }

  .NavigationItem a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    margin-top: 5px;
    background-color: white;
    transition: width 0.3s;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active {
    transform: translateY(-4px);
    background-color: transparent;
  }

  .NavigationItem a:hover::after,
  .NavigationItem a:active::after {
    width: 100%;
  }
}
